
.icon-arrows-cw:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-cw:before { content: '\e802'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */